body {
    background-color: #dfd3c3;
    color: #596e79;
}
h1 {
    text-align: center;
    font-size: 5em;
}
a {
    text-decoration: none;
    font-size: 3em;
}
a:visited {
    color: #596e79;
}
a:hover {
    color: #c7b198;
}